{% extends "base.html" %}

{% block title %}

About

{% endblock title %}



{% block body %}

<main>

    <div class="container">
        <h1>Skills I Know</h1>
    </div>
        <div class="about-python">
            <div class="left-python">
                <div>I Know About Basics Of <span class="purple">Python</span></div>
                <div> Programming Language</div>
            </div>
            <div class="right-python">
                <img src="/static/python.png" alt="">
            </div>
        </div>

        <div class="about-django">
            <div class="left-django">
                <img src="/static/django.png" alt="">
            </div>
            <div class="right-django">
                <div>I Know About Basics Of <span class="purple">Django</span></div>
                <div> A Python Framework</div>
            </div>
        </div>

        <div class="about-html">
            <div class="left-html">
                <div>I Know About Basics Of <span class="purple">HTML</span></div>
                <div> Programming Language</div>
            </div>
            <div class="right-html">
                <img src="/static/html.png" alt="">
            </div>
        </div>

        <div class="about-css">
            <div class="left-css">
                <img src="/static/css.png" alt="">
            </div>
            <div class="right-css">
                <div>I Know About Basics Of <span class="purple">CSS</span></div>
                <div> Programming Language</div>
            </div>
        </div>

        <div class="about-js">
            <div class="left-js">
                <div>I Know About Basics Of <span class="purple">Javascript</span></div>
                <div> Programming Language</div>
            </div>
            <div class="right-js">
                <img src="/static/javascript.png" alt="">
            </div>
        </div>


</main>




{% endblock body %}